---
layout: default
title: "<b>>> Register Now <<</b>"

registrations:
  early:
    - type: Conference Only
      price: [700, 875, 300]
    - type: Conference + Workshop (incl. tutorial)
      price: [850, 1125, 350]
    - type: Workshop Only (incl. tutorial)
      price: [300, 400, 150]
  late:
    - type: Conference Only
      price: [800, 975, 400]
    - type: Conference + Workshop (incl. tutorial)
      price: [950, 1225, 450]
    - type: Workshop Only (incl. tutorial)
      price: [350, 450, 200]

---

<h1>Registration</h1>

<h2>A Special Note on Author Registration Policy</h2>

<p>Each accepted paper/poster must be presented by one of its author(s) at the MobiHoc main conference or workshop.</p>
<p><b>To present a paper/poster at the conference or any one of the workshops, at least one author should register at the full (non-student) rates.</b></p>

<p>&nbsp;</p>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <a href="http://www.regonline.com/mobihoc2018" class="btn btn-primary btn-block" role="button">&gt;&gt; Register Now &lt;&lt;</a>
  </div>
</div>

<p>&nbsp;</p>

<p>All fees are in US$, payable via credit card.</p>

<div class="list-group condensed">
  <div class="list-group-item active">Early Registration (Before May 27, 2018 11:59pm CDT)</div>

  <div class="list-group-item">
    <div class="row">
      <div class="col-md-3"><b>Event</b></div>
      <div class="col-md-3"><b>Member</b></div>
      <div class="col-md-3"><b>Non-Member</b></div>
      <div class="col-md-3"><b>Student</b></div>
    </div>
  </div>
  {% for reg in page.registrations.early %}
  <div class="list-group-item">
    <div class="row">
      <div class="col-md-3">{{ reg.type }}</div>
      <div class="col-md-3">${{ reg.price[0] }}</div>
      <div class="col-md-3">${{ reg.price[1] }}</div>
      <div class="col-md-3">${{ reg.price[2] }}</div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="list-group">
  <div class="list-group-item active">Late Registration (Starting from May 28, 2017 00:00am CDT)</div>
  <div class="list-group-item">
    <div class="row">
      <div class="col-md-3"><b>Event</b></div>
      <div class="col-md-3"><b>Member</b></div>
      <div class="col-md-3"><b>Non-Member</b></div>
      <div class="col-md-3"><b>Student</b></div>
    </div>
  </div>
  {% for reg in page.registrations.late %}
  <div class="list-group-item">
    <div class="row">
      <div class="col-md-3">{{ reg.type }}</div>
      <div class="col-md-3">${{ reg.price[0] }}</div>
      <div class="col-md-3">${{ reg.price[1] }}</div>
      <div class="col-md-3">${{ reg.price[2] }}</div>
    </div>
  </div>
  {% endfor %}
</div>
