{% capture now %}{{ site.time | date: '%Y-%m-%d' }}{% endcapture %}
<!-- Extra panel -->
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title panel-title-style">
          <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp; <b>Important Dates</b>
        </div>
      </div>
      <div class="panel-body">
        <table class="table table-hover">
          {% for item in include.dates %}
            <tr>
              {% capture date %}{{ item.date | date: '%Y-%m-%d' }}{% endcapture %}
              <td class="col-sm-4"><b>{% if now > date %}<del>{% endif %}{{ item.date }}{% if now > date %}</del>{% endif %}</b></td>
              <td class="col-sm-8">{{ item.info }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>
