{% if abstract_label == nil %}{% assign abstract_label = 'Abstract' %}{% endif %}

{% if paper.abstract == nil or paper.abstract == "" %}
  {% include tprog-item.html %}
{% else %}

{% if paper.link and paper.link   != "" %}{% assign has_link   = true %}{% else %}{% assign has_link   = nil %}{% endif %}
{% if paper.slides and paper.slides != "" %}{% assign has_slides = true %}{% else %}{% assign has_slides = nil %}{% endif %}
{% if paper.video and paper.video  != "" %}{% assign has_video  = true %}{% else %}{% assign has_video  = nil %}{% endif %}
  
{% comment %}<!-- make space for the button(s) -->{% endcomment %}
{% if has_link or  has_slides %}{% assign item_style = 'style="width: 85%"' %}{% endif %}{%
   if has_link and has_slides %}{% assign item_style = 'style="width: 78%"' %}{% endif %}{%
   if has_link and has_slides and has_video %}{% assign item_style = 'style="width: 70%"' %}{% endif %}

{% assign expanded = false %}
{% unless collapsible %}
  {% assign collapsible = 1 %}
{% else %}
  {% assign collapsible = collapsible | plus: 1 %}
{% endunless %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h5 class="panel-title">
      <a data-toggle="collapse" data-target="#collapsiblePaper{{ collapsible }}">
        {{ paper.title }}
        <span class="pull-right clickable {% unless expanded %}panel-collapsed{% endunless %}"><i class="glyphicon glyphicon-chevron-{% if expanded %}up{% else %}down{% endif %}"></i></span>
      </a>
    </h5>
    {% if has_link %}<a href="{{ paper.link }}"><span class="pull-right clickable label label-primary">Paper</span></a>{% endif %}
    {% if has_slides %}<a href="{{ paper.slides }}"><span class="pull-right clickable label label-primary">Slides</span></a>{% endif %}

    <p>{{ paper.authors | replace_regex: '\(([^\)]*)\)', '<em>(\1)</em>'}}</p>
  </div>
  <div id="collapsiblePaper{{ collapsible }}" class="panel-body small collapse {% if expanded %}in{% else %}out{% endif %}">
    <p>
      <b>Abstract: </b>{{ paper.abstract }}
    </p>
  </div>
</div>

{% comment %}
<li class="panel prog-item {{ progitemclass }}">
  <h4>
    <div {{ item_style }}>
      <p class="paper-header">
        {% if has_link == true %}
          <a href="{{ paper.link  }}">{{ paper.title }}</a>
        {% else %}
          {{ paper.title }}
        {% endif %}  
      </p>
      <!-- /* the spaces after various "%s" below are important for correct list filtering! */ -->
      <p>{{ paper.authors | replace_regex: '\(([^\)]*)\)', '<em>(\1)</em>'}}</p>
    </div>
    <div class="ui-li-aside">
      {% if has_link %}
        <div class="button-paper">      
          <a href="{{ paper.link }}" onclick="event.stopPropagation();" rel="external" target="_blank" class="ui-link">Paper</a>
        </div>
      {% endif %}
      {% if has_slides %}
        <div class="button-paper">      
          <a href="{{ paper.slides }}" onclick="event.stopPropagation();" rel="external" target="_blank" class="ui-link">Slides</a>
        </div>
      {% endif %}
      {% if has_video %}
        <div class="button-paper">      
          <a href="{{ paper.video }}" onclick="event.stopPropagation();" rel="external" target="_blank" class="ui-link">Video</a>
        </div>
      {% endif %}
    </div>
  </h4>
  <ul data-role="listview" data-inset="false">
    <li data-icon="false">
      <p><b>{{ abstract_label }}: </b>{{ paper.abstract }}</p>
      <p>&nbsp;</p>
    </li>
  </ul>
</li>
{% endcomment %}

{% endif %}
