.panel-body>table {
    margin-bottom: 0px;
}
.well>table {
    margin-bottom: 0px;
}

.table > tbody > tr:first-child > td {
    border: none;
}


table.hotel th {
    text-align:left;
    vertical-align:top;
    width: 25%;
}

table.hotel td {
    width: 75%;
    vertical-align:bottom;
}

table.hotel td ul {
    padding: 0;
    list-style-position: inside;
}

table.hotel tr {
}

table.hotel {
    width: 100%;
    padding-bottom:1em
}

.program>.list-group-item>h5 {
    font-weight: bold;
    margin-bottom: 0px;
}

.program>.list-group-item>p {
    margin-bottom: 0px;
}

.list-group-item-break {
    background-color: #DCDCDC;
}

.program h5 {
    font-weight: bold;
    margin-bottom: 0px;
    font-size: $font-size-base;
}

.program>.panel-title>p {
    margin-bottom: 0px;
}

.program .panel {
    margin-bottom: 0px;
}

.keynote-photo {
    float: right;
    margin: 0px 0px 15px 15px;
}
