$font-size-base-print: 9px !default;
@media print {
  html, body {
    font-size: $font-size-base-print;
  }
  .large {
    font-size: ceil(($font-size-base-print * 1.25));
  }
  .lead {
    font-size: floor(($font-size-base-print * 1.15));

  }
  .small {
    font-size:  ceil(($font-size-base-print * 0.85));
  }
  h1 {
    font-size: floor(($font-size-base-print * 2.6));
  }
  h2 {
    font-size: floor(($font-size-base-print * 2.15));
  }
  h3 {
    font-size: ceil(($font-size-base-print * 1.7));
  }
  h4 {
    font-size: ceil(($font-size-base-print * 1.25));
  }
  h5 {
    font-size: $font-size-base-print;
  }
  h6 {
    font-size: ceil(($font-size-base-print * 0.85));
  }
  #banner, #nav, #top-link-block, #mobile-spacer, .footer, .agenda {
    display: none !important;
  }
}
