@import 'font-awesome-sprockets';
@import 'font-awesome';

@import 'photoswipe/src/css/main';
@import 'photoswipe/src/css/default-skin/default-skin';

@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic');

$font-size-base: 16px !default;
$font-family-sans-serif: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$headings-font-family:    inherit !default;
$headings-font-weight:    500 !default;

@import 'bootstrap-sprockets';
@import 'bootstrap';

@import 'callouts';

@import 'print-font-fix';
@import 'original-mobihoc';
@import 'customizations';
